<div id="<%= dom_id chef %>">
  <p>
    <strong>Name:</strong>
    <%= chef.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= chef.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= chef.phone %>
  </p>

  <p>
    <strong>Culinary specialty:</strong>
    <%= chef.culinary_specialty %>
  </p>

</div>
