<h1><%= @chef.name %>'s Dishes</h1>

<div id="dishes">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= dish.name %></td>
          <td><%= dish.description %></td>
          <td><%= dish.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Back to Chefs", chefs_path, class: "btn btn-primary" %>
